# Menyembunyikan daftar file atau direktori
Options -Indexes

# Menyembunyikan signature atau tanda server
ServerSignature Off

# Memblokir IP Address dan membuka akses untuk IP tertentu
Order Allow,Deny
Allow from 127.0.0.1
Allow from all

# Menghilangkan ekstensi file di URL
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>

# Redirect pelanggan.php ke URL GitHub
#Redirect 301 /web/ https://

# Kompresi berbagai tipe file untuk mengurangi ukuran data yang dikirim
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/woff

    # Kompresi untuk browser lama yang tidak mendukung gzip
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Mengaktifkan kompresi gzip
<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    # Menyertakan file dengan ekstensi tertentu untuk kompresi gzip
    mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
    # Menyertakan MIME types tertentu untuk kompresi gzip
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_include mime ^text/.*
    # Mengecualikan MIME types tertentu dari kompresi gzip
    mod_gzip_item_exclude mime ^image/.*
    # Mengecualikan respons dengan header tertentu dari kompresi gzip
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
    # Menyertakan handler tertentu untuk kompresi gzip
    mod_gzip_item_include handler ^cgi-script$
</IfModule>
